{% extends 'base.html' %}
{% block content %}
<h2>Your Booking History</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for flight in bookings %}
        <tr>
            <td>{{ flight.flight_number }}</td>
            <td>{{ flight.origin }}</td>
            <td>{{ flight.destination }}</td>
            <td>${{ flight.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}